body {
    width: 33%;
}

#res {
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
    width: 100%;
}

.btns {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}

#btn0 {
    background-color: lightgreen;
    color: brown;
}

#btn1 {
    background-color: lightgreen;
    color: brown;
}

#btnClr {
    background-color: darkgreen;
    color: white;
}

#btnEql {
    background-color: darkgreen;
    color: white;
}

#btnSum {
    background-color: black;
    color: red;
}

#btnSub {
    background-color: black;
    color: red
}

#btnMul {
    background-color: black;
    color: red
}

#btnDiv {
    background-color: black;
    color: red
}